
html{
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    font-family: Helvetica;
    margin: 0 auto;
} 
body{
    margin: 0 auto;
}
a{
    color: seashell;
}
h3{
    font-size: 20px;
}
p{
    font-size: 15px;
}
/* Header styling */
header{
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    z-index: 3;
    background-color: black;
    top: 0;
}
.img-logo{
    height: 50px;
}
.loc{
    text-align: center;
    padding-top: 40px;
}
.head-nav{
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.head-nav li{
    display: inline-flex;
    padding: 0 5px 0 5px;

}
.head-nav ul{
    padding-right: 10px;
}


header a {
    text-decoration: underline;
}

/* hero-container */

.hero-container{
    width: 90%;
    display: flex;
    background-image: url('images/img-mission-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    z-index: 1;
    top: 70px;
    position: relative;
    justify-content: center;
    margin: auto;
}
 
.hero-text{
    display: inline-block;
    background-color: black;
    width: 100%;
    text-align: center;
    align-self: center;
}
.hero-text h2{
    margin: 5px;
    padding: 5px 0 0 0;
    align-self: center;
}
.hero-text h4{
    font-size: 20px;
    padding: 0 0 5px 0;
    margin: 5px;
}

/* .main-div */
figure{
    margin: 0;
}
figcaption{
    margin: 0;
}
.flex-img{
    height: 200px;
    width: 300px;
    margin: 10px;
}
.main-div{
    position: relative;
    margin-bottom: 150px;
    text-align: center;
    margin: 150px auto;
    max-width: 1000px;
}

.img-flexbox{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 550px;
    max-width: 100vw;
}

/* bottom content */

.locations{
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.locations-cont{
    background-image: url('images/img-locations-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.flex-item{
    display: flex;
    border: solid seashell 1px;
    width: 300px;
    text-align: center;
    height: 300px;
    justify-content: center;
    align-self: center;
    background-color: black;
    margin: 20px;

}
.location-text{
    align-self: center;
    padding: 5px;
}

/* footer content */

.foot-content{
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
.foot-content p {
    float: left;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    header{
        height: auto;
    }
    .head-nav{
        display: inline-block;
    }
    .img-logo{
        display: block;
        margin: auto;
    }
    ul{
        text-align: center;
        display: block;
    }
    .flex-item{
        margin: 5px;
        text-align: left;
        flex-wrap: wrap;
    }
  }
  @media only screen and (max-width: 480px){
    .flex-item{
        height: 150px;
        width: 150px;
    }
    .flex-item .location-text h3{
        font-size: 14px;
    }
    .flex-item .location-text p{
        font-size: 12px;
    }
  }
  @media only screen and (min-width: 768px){
    .flex-item{
        margin: 10px;
        height: 200px;
        width: 200px;
    }
    .locations{
        flex-wrap: wrap;
        max-width: 90vw;
    }
  }